* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1300px;
  margin: 0 auto;
}

/* HEADER */

.logo {
  float: left;
  position: relative;
  margin-top: 24px;
  margin-left: 136px;
}

.logo-container {
  position: relative;
  height: 91px;
  width: 91px;
}

.logo-inner,
.logo-outer {
  height: 100%;
  width: 100%;
  position: absolute;
}

.logo-inner {
  opacity: 0.5;
}

.logo-title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 41px;
  text-align: center;
  position: absolute;
  top: 27px;
  left: 92px;
  color: #fff;
  letter-spacing: 0px;
  font-family: 'Lucida Sans';
  font-style: italic;
}

/* MENU */

.menu {
  float: right;
  width: 453px;
  height: 41px;
  background: #f5c506;
  position: relative;
  margin-top: 71px;
  margin-right: 140px;
  box-shadow: -4px -5px rgba(245, 197, 6, 0.27), -8px -8px rgba(245, 197, 6, 0.27);
}

.menu ul {
  padding-left: 0;
  display: flex;
}

.menu ul li {
  list-style: none;
  align-self: center;
  z-index: 3;
}

.menu-item {
  display: inline-block;
  height: 14px;
  width: 127px;
  padding-top: 10px;
  padding-bottom: 13px;
  font-size: 17px;
  font-family: 'Segoe WP';
  text-transform: uppercase;
  text-decoration: none;
  color: #9b7d08;
  z-index: 3;
  text-align: right;
  position: relative;
  padding-right: 20px;
  transition: all ease-out 0.09s;
  -webkit-transition: all ease-out 0.09s;
  -moz-transition: all ease-out 0.09s;
  -o-transition: all ease-out 0.09s;
}

ul li:nth-child(1) .menu-item,
ul li:nth-child(2) .menu-item {
  border-right: 1px solid #b99403;
}

ul li:nth-child(1) .menu-item {
  width: 152px;
}

ul li:nth-child(2) .menu-item {
  width: 112px;
}

.menu-item img {
  position: absolute;
  top: 11px;
  left: 17px;
  transition: all ease-out 0.09s;
  -webkit-transition: all ease-out 0.09s;
  -moz-transition: all ease-out 0.09s;
  -o-transition: all ease-out 0.09s;
}

ul li:nth-child(1) .menu-item img {
  left: 37px;
  top: 9px;
}

ul li:nth-child(2) .menu-item img {
  left: 12px;
  top: 9px;
}

ul li:nth-child(3) .menu-item img {
  left: 15px;
  top: 9px;
}

.menu-item:hover {
  color: black;
}

.menu-item:hover img {
  filter: saturate(1) grayscale(100%);
}

@media screen and (max-width: 640px) {
  .logo {
    margin-top: 9px;
    margin-left: 11px;
  }

  .logo-container {
    height: 43px;
    width: 43px;
  }

  .logo-title {
    font-size: 19px;
    top: 13px;
    left: 47px;
  }

  .menu {
    margin: 0;
    box-shadow: none;
    width: 454px;
    height: 62px;
  }

  .menu-item {
    font-size: 19px;
    letter-spacing: 0px;
    color: #9b7d08;
    font-family: 'Segoe WP';
    height: 39px;
    padding-top: 18px;
    padding-bottom: 5px;
  }

  ul li:nth-child(1) .menu-item {
    padding-right: 24px;
    width: 147px;
  }

  ul li:nth-child(2) .menu-item {
    padding-right: 25px;
    width: 106px;
  }

  ul li:nth-child(3) .menu-item {
    padding-right: 15px;
    width: 136px;
  }

  ul li:nth-child(1) .menu-item img {
    left: 21px;
    top: 17px;
    height: 27px;
    width: 28px;
  }

  ul li:nth-child(2) .menu-item img {
    left: 5px;
    top: 18px;
    height: 27px;
    width: 28px;
  }

  ul li:nth-child(3) .menu-item img {
    left: 11px;
    top: 16px;
    height: 26px;
    width: 31px;
  }
}

/* FIRST SLIDER */

.slider-container-one {
  background-image: url(assets/images/Bg-1.jpg);
  height: 398px;
  padding-top: 168px;
}

.slider-wrapper {
  position: relative;
}

.video-wrapper {
  width: 549px;
  height: 327px;
  position: relative;
  margin-left: 150px;
  background-image: url(assets/Layer17@1X.png);
  float: left;
}

.video-container {
  background-color: rgba(245, 197, 6, 0.11);
}

.video-wrapper .play-btn-circle {
  position: absolute;
  width: 65.5px;
  height: 65.5px;
  border-radius: 30px;
  background-color: #f5c506;
  top: 131px;
  left: 242px;
  opacity: 0.72;
  transition: all ease-out 0.09s;
  -webkit-transition: all ease-out 0.09s;
  -moz-transition: all ease-out 0.09s;
  -o-transition: all ease-out 0.09s;
}

.video-wrapper .play-btn-circle:hover {
  opacity: 1;
  cursor: pointer;
}

.play-icon:hover,
.play-btn:hover,
.vol-btn:hover,
.len-bar:hover {
  cursor: pointer;
}

.video-wrapper .play-icon {
  position: absolute;
  width: 22px;
  height: 36px;
  left: 266px;
  top: 146px;
}

.video-wrapper .play-btn {
  position: absolute;
  left: 29px;
  bottom: 22px;
  opacity: 0.6;
  transition: all ease-out 0.09s;
  -webkit-transition: all ease-out 0.09s;
  -moz-transition: all ease-out 0.09s;
  -o-transition: all ease-out 0.09s;
}

.video-wrapper .play-btn:hover {
  opacity: 1;
}

.video-wrapper .vol-btn {
  position: absolute;
  right: 18px;
  bottom: 26px;
}

.len-bar {
  display: flex;
  position: absolute;
  left: 80px;
  bottom: 29px;
}

.len-bar img:last-child {
  opacity: 0.28;
}

.banner-container {
  float: left;
  text-transform: uppercase;
  font-size: 41px;
  letter-spacing: 1px;
  font-family: 'Asap';
  font-weight: 400;
  text-align: center;
  padding-top: 70px;
  padding-left: 43px;
}

.banner-container h2:first-child {
  color: #f5c506;
}

.banner-container h2:last-child {
  color: #fff;
  letter-spacing: 2px;
}

.nav-left,
.nav-right {
  width: 32px;
  height: 57px;
  background-color: #f5c506;
  position: absolute;
  top: 132px;
}

.nav-left:hover,
.nav-right:hover {
  cursor: pointer;
}

.nav-left {
  left: 0;
}

.nav-right {
  right: 0;
}

.nav-left img {
  margin-top: 17px;
  margin-left: 7px;
  transition: all ease-out 0.09s;
  -webkit-transition: all ease-out 0.09s;
  -moz-transition: all ease-out 0.09s;
  -o-transition: all ease-out 0.09s;
}

.nav-right img {
  margin-top: 16px;
  margin-left: 9px;
  transition: all ease-out 0.09s;
  -webkit-transition: all ease-out 0.09s;
  -moz-transition: all ease-out 0.09s;
  -o-transition: all ease-out 0.09s;
}

.nav-left:hover img,
.nav-right:hover img {
  cursor: pointer;
  filter: invert(1);
}

@media screen and (max-width: 640px) {
  .nav-left,
  .nav-right {
    display: none;
  }

  .slider-container-one {
    padding: 0;
    height: 389px;
  }

  .video-wrapper {
    margin: 0;
    width: 640px;
    background-image: url(assets/images/BG-1-mob.png);
  }

  .video-container {
    width: 100%;
  }

  .video-wrapper .play-btn-circle {
    left: 296px;
  }

  .video-wrapper .play-icon {
    left: 320px;
  }

  .video-wrapper .play-btn {
    left: 83px;
  }

  .video-wrapper .vol-btn {
    right: 55px;
  }

  .len-bar {
    left: 134px;
  }

  .banner-container {
    display: none;
  }
}

/* ICONS ROW */

.icons-container {
  height: 212px;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 -2px 4px rgba(0, 0, 0, 0.25);
}

.icons-container::after {
  content: '';
  background: url(assets/images/Layer7@1X.png);
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.icon-item {
  width: 340px;
  height: 100%;
}

.icons-container .icon-item:nth-child(1) {
  border-left: 1px solid #d4d4d4;
}

.icons-container .icon-item:nth-child(2) {
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
}

.icons-container .icon-item:nth-child(3) {
  border-right: 1px solid #d4d4d4;
}

.icon-item:nth-child(1) .icon-img {
  margin-left: 112px;
  margin-top: 59px;
}

.icon-item:nth-child(2) .icon-img {
  margin-left: 128px;
  margin-top: 35px;
}

.icon-item:nth-child(3) .icon-img {
  margin-left: 116px;
  margin-top: 52px;
}

.icon-item:nth-child(1) .icon-title {
  margin-left: 19px;
  margin-top: 4px;
}

.icon-item:nth-child(2) .icon-title {
  margin-left: 19px;
  margin-top: 8px;
}

.icon-item:nth-child(3) .icon-title {
  margin-left: -18px;
  margin-top: 3px;
}

.icon-title {
  font-size: 27px;
  letter-spacing: 0px;
  color: #000000;
  font-family: 'Segoe UI';
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 640px) {
  .icons-container {
    height: 174px;
    box-shadow: 0 -4px 0px rgba(0, 0, 0, 0.25), inset 0 4px 0px rgba(0, 0, 0, 0.25);
  }

  .icons-container .icon-item:nth-child(1) {
    border-left: none;
  }

  .icons-container .icon-item:nth-child(2) {
    border-left: none;
    border-right: none;
  }

  .icons-container .icon-item:nth-child(3) {
    border-right: none;
  }

  .icon-item:nth-child(1) .icon-img {
    margin-left: 43px;
    margin-top: 32px;
    width: 92px;
  }

  .icon-item:nth-child(2) .icon-img {
    margin-left: 76px;
    margin-top: 27px;
    width: 74px;
  }

  .icon-item:nth-child(3) .icon-img {
    margin-left: 66px;
    margin-top: 26px;
    width: 72px;
  }

  .icon-title {
    font-size: 23px;
  }

  .icon-item:nth-child(1) .icon-title {
    margin-left: -28px;
    margin-top: 12px;
  }

  .icon-item:nth-child(3) .icon-title {
    margin-left: 3px;
    margin-top: 7px;
  }
}
/* SECOND SLIDER */

.slider-container-two {
  background-image: url(assets/images/Layer10copy3@1X.png);
  height: 477px;
  padding: 31px 142px 0 139px;
}

.slider-item {
  margin-bottom: 43px;
}

.slider-item-content {
  display: flex;
  justify-content: space-between;
}

.slider-item-title {
  height: 79px;
  font-size: 37px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: 'PT Sans';
  font-weight: 400;
  text-transform: uppercase;
}

.video-part-container {
  display: flex;
}

.text-content {
  position: relative;
  width: 272px;
  height: 183px;
  background-color: #ec9e03;
  padding: 16px 38px 34px 31px;
}

.text-content p {
  width: 279px;
  font-size: 29px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #ffffff;
  font-family: 'Segoe WP';
  font-weight: 300;
  margin: 0;
}

.plus-sign {
  position: absolute;
  width: 14px;
  height: 14px;
  opacity: 0.7;
  right: 13px;
  bottom: 12px;
  transition: all ease-out 0.09s;
  -webkit-transition: all ease-out 0.09s;
  -moz-transition: all ease-out 0.09s;
  -o-transition: all ease-out 0.09s;
}

.plus-sign:hover {
  cursor: pointer;
  filter: invert(1);
}

.video-content {
  width: 315px;
  height: 233px;
  position: relative;
}

.video-content .play-btn-circle {
  position: absolute;
  width: 61px;
  height: 61px;
  border-radius: 30px;
  background-color: #f5c506;
  top: 93px;
  left: 130px;
  opacity: 0.72;
  transition: all ease-out 0.09s;
  -webkit-transition: all ease-out 0.09s;
  -moz-transition: all ease-out 0.09s;
  -o-transition: all ease-out 0.09s;
}

.video-content .play-btn-circle:hover {
  opacity: 1;
  cursor: pointer;
}

.video-content .play-icon {
  position: absolute;
  width: 19px;
  height: 33px;
  top: 107px;
  left: 154px;
}

.twitter-container {
  position: relative;
  width: 329px;
  height: 233px;
  background-color: #ec9e03;
}

.twitter-img {
  position: absolute;
  bottom: 17px;
  left: 76px;
}

.twitter-container .plus-sign {
  right: 8px;
}

.twitter-container p {
  position: absolute;
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #ffffff;
  font-family: 'Segoe WP';
  font-weight: 300;
  top: 9px;
  right: 17px;
}

.slider-item-date {
  width: 111px;
  height: 75px;
  padding-top: 11px;
  padding-left: 2px;
  background-color: #ddb101;
}

.date-day {
  font-size: 51px;
  letter-spacing: 1px;
  line-height: 38px;
  color: #ffffff;
  font-family: 'Segoe UI';
  font-weight: bold;
  text-align: center;
}

.date-month {
  font-size: 21px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #b26529;
  font-family: 'Segoe UI';
  text-transform: uppercase;
  text-align: center;
}

.slider {
  display: block;
  -webkit-appearance: none;
  width: 896px;
  height: 15px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.48);
  margin-left: 74px;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 197px;
  height: 15px;
  border-radius: 7px;
  background-color: #ec9e03;
  cursor: pointer;
}

/* INFO SECTION */

.info-section {
  height: 464px;
  background-image: url(assets/images/Bg-3.png);
  padding-top: 35px;
}

.info-title {
  text-transform: uppercase;
  width: 918px;
  font-size: 43px;
  letter-spacing: 0px;
  color: #f5c506;
  font-family: 'PT Sans';
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

.info-content-container {
  height: 408px;
  display: flex;
}

.content-images-container {
  width: 760px;
  position: relative;
}

.images-row {
  display: flex;
  width: 540px;
  justify-content: space-between;
  align-items: baseline;
  margin: 46px 0px 0 158px;
}

.medium-item-img,
.small-item-img {
  padding-bottom: 39px;
}

.mark-sign {
  width: 116px;
  height: 70px;
  border-radius: 58px;
  background-color: #f5c506;
  padding-top: 46px;
  position: absolute;
  top: 3px;
  left: 138px;
}

.mark-sign p {
  font-size: 19px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: 'PT Sans Narrow';
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.content-text-container {
  width: 522px;
  padding: 88px 0 0 18px;
}

.content-text-container ul {
  list-style: none;
  margin-left: 40px;
}

.content-text-container li {
  width: 352px;
  height: 42px;
  font-size: 22px;
  letter-spacing: 0px;
  color: #a9a9a7;
  font-family: 'Open Sans';
  font-weight: 400;
  margin-bottom: 14px;
  line-height: 27px;
}

.content-text-container li::before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #f5c506;
  display: inline-block;
  margin-left: -31px;
  margin-right: 17px;
}

/* FOOTER */

footer {
  padding-top: 5px;
  padding-left: 141px;
  height: 59px;
  background: #4c4c4c;
  box-shadow: -0.105px -2.998px 5px rgba(0, 0, 0, 0.75);
}

.footer-wrapper {
  display: flex;
}

footer .logo-container {
  height: 53px;
  width: 52px;
  display: inline-block;
}

footer .logo-title {
  position: unset;
  font-size: 29px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: 'Lucida Sans';
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  margin-left: 7px;
}
